/* Add CSS Styling */

.odd {
    background-color: #e38e8e;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number2 {
    color: rgb(0,0,255);
    font-size: 36px;
}

#number3 {
    font-size: 24px;
}

#number4 {
    background-color: hsl(140, 26%, 68%);
    font-size: 24px;
    font-weight: bold;
}