/* Add CSS Styling */
.first {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.second {
    background-color: hsl(68, 100%, 50%);
}

.first,
.second {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}